.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.auth-links {
    display: flex;
}

.auth-links a, .auth-links button {
    margin-left: 10px; /* Ajusta el espacio entre los enlaces */
    text-decoration: none;
    /*background-color: white; /* Fondo blanco */
    color: white; /* Texto en negro */
    border: 1px solid #ccc; /* Borde sutil */
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.auth-links a:hover, .auth-links button:hover {
    background-color: #f8f8f8c1; /* Cambio de color al pasar el ratón */
}
