
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.auth-links {
    display: flex;
}

.auth-links > * {
    margin-left: 10px; /* Ajusta el espacio entre los enlaces */
}
