.movie {
    flex: 1 1 30%;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    color: inherit;
    max-width: 400px; /* Límite del ancho máximo de cada película */
}

.movie img {
    width: 100%;
    height: auto;
}
