.movie-detail-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
}

.movie-detail-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.movie-detail-info h1 {
    font-size: 3rem;
    color: white;
    margin: 0;
}

.movie-detail-info p, .movie-detail-info .sub-details, .synopsis, .genre-duration {
    color: rgba(255, 255, 255, 0.8); /* Blanco con transparencia para diferenciar información */
    margin: 5px 0;
    font-size: 1.2rem;
}

.genre-duration {
    font-size: 1rem;
    margin-top: 10px;
}

.movie-poster img {
    display: none; /* Si no quieres mostrar la imagen */
}

.red .star {
    color: red; /* Colorea las estrellas de rojo hasta el valor de rating */
  }
  
  .black .star {
    color: black; /* Colorea las estrellas restantes de negro */
  }
  
