.movie {
    flex: 1 1 30%;
    margin: 10px;
    text-align: center;
    max-width: 400px; /* Límite del ancho máximo de cada película */
}

.movie img {
    width: 80%;
    margin-right: 20px;
    border-radius: 10px;
}

.movie h3 {
    color: black;
    font-family:'Comic Sans MS';
    font-size: 20px;
    margin-top: 10px;
}