.movie {
    flex: 1 1 25%;
    margin-top:40px;
    text-align: center;
    max-width: 400px; /* Límite del ancho máximo de cada película */
    margin: 10 10;

}

.movie img {
    width: 90%;
    height: 85%;
    margin-right: 0 auto;
    display:inside;
    border-radius: 10px;
}

.movie h3 {
    color: black;
    font-family:'Arial';
    font-size: 25px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 5px;
    text-align: left;
}

.movie h4 {
    color: rgb(158, 154, 154);
    font-family:'Arial';
    font-size: 20px;
    margin-top:0;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px;    
    text-align: left;
}

.movie p {
    color: black;
    font-family:'Arial';
    font-size: 15px;
    margin-top: 0;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
}